<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>mobile</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UploadController</display-name>
    <servlet-name>UploadController</servlet-name>
    <servlet-class>android.UploadController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadController</servlet-name>
    <url-pattern>/upload.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookController</display-name>
    <servlet-name>BookController</servlet-name>
    <servlet-class>android.BookController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookController</servlet-name>
    <url-pattern>/book_servlet/*</url-pattern>
  </servlet-mapping>
</web-app>